<h1>書本列表</h1>
<%= link_to "新增書本", new_book_path, class: "btn btn-success btn" %>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>書本名稱</td>
        <td>簡介</td>
        <td>作者姓名</td>
        <td>售價</td>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.indroduction %></td>
        <td><%= book.author %></td>
        <td><%= book.price %></td>
        <td>
          <%= link_to "編輯", edit_book_path(book) , class: "btn btn-success btn" %>
          <%= link_to "刪除", book_path(book), method: "delete", data: { confirm: "確認刪除" }, class: "btn btn-success btn" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>